# Node
node_modules/
npm-debug.log*
package-lock.json

# Playwright
.playwright/
playwright-report/
test-results/

# Editor/OS
.vscode/
.idea/
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Others
.cache/
